<!-- confirm.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <title>予約確認</title>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        setTimeout(function() {
          window.location.href = "<%= calendars_path %>";
        }, 3000);
      });
    </script>
  </head>
  <body>
    <h1>予約確認</h1>
    <p>予約が確定されました。3秒後にホーム画面に遷移します。</p>
  </body>
</html>
